
body{
    width: 1700px;
    margin: 50px 50px;
}
#wholepage{
    background-color: rgb(241, 241, 241);
}
nav{
    display: flex;
}
.navbar{
    margin: 0% 3%;
    color: black;
}
#page1{
    display: flex;
}
#pg1part1{
    margin: 20% 13%;
    text-align: center;
}
#button1{
    width: 150px;
    height: 40px;
    background-color: black;
    color: white;
    font-size: 100%;
}
.button2{
    border: none;
}
#buttons3{
    align-items: right;
    display: flex;
    flex-direction: row;
    justify-content: right;
}
.button3{
    margin: 0% 2%;
    border: none;
    align-items: left;
}
#page2{
    display: flex;
}
#part2pt1{
    display: flex;
}
#part2pt2{
    display: flex;
}
h1{
    text-align: center;
}
#page3{
    display: flex;
}
#pg3part1{
    margin: 15% 13%;
    text-align: center;
}
#button4{
    border: none;
    text-decoration: underline;
    font-size: 150%;
}
#buttons5{
    align-items: right;
    display: flex;
    flex-direction: row;
    justify-content: left;
}
#page4{
    display: flex;
}
#part1pt1{
    display: flex;
}
#part1pt2{
    display: flex;
}
#lastpage{
    display: flex;
}
.about{
    margin-left: 10%;
}
input{
    border: none;
}

@media only screen and (min-width:390px){
    body{
        margin: 0%;
    }
    nav{
        margin: 0%;
        justify-content: left;
    }
    .navbar{
        margin: 0% 0.2%;
        color: black;
    }
    #icon{
        width: 30px;
        height: 30px;
    }
    #buttons5{
        display: flex;
        flex-wrap: wrap;
    }
    .button3{
        font-size: 20%;
    }
    #part1pt1{
        display: flex;
        flex-wrap: wrap;
        font-size: 20%;
    }
    #part1pt2{
        display: flex;
        flex-wrap: wrap;
        font-size: 20%;
        margin-left: 0%;
    }
    img{
        width: 70px;
        height: 80px;
    }
    #copyright{
        margin-left: 2%;
    }
    #lastimg{
        width: 300px;
        height: 100px;
        margin-left: 1%;
    }
    #lastpage{
        display: block;
        flex-wrap: wrap;
        font-size: 20%;
    }
    .about{
        margin-left: 2%;
        display: block;
    }

}
    
